body{
    font-family: Arial, Helvetica, sans-serif;
}
.recipe{
    text-align: center;
    margin-bottom: 50px;
    border: 1px solid red;
    height:max-content;
    background-color: rgb(26, 25, 25);
    width: 25%;
}
img{
    width: 60%;
    height: 90%;
}
h2{
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 1rem;
    color: white;
    margin-bottom: 0.5rem;
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0%;
    
}

.ingredients>p{
    margin: 0;
    display: inline;
    color: white;
}
.instruction-card{
    border: 1px solid red;
    margin-top: 5px;
    display: none;
    background-color: aquamarine;
}
/* #card-656329{
    display: block;
} */
/* .instruction-button{
    padding: 2rem;
} */
#instruction-656329{
    background-color: chocolate;
    padding: 0.2rem;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
